.contacts {
  @media (width >= $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  padding: 26px 0;
  display: flex;
  justify-content: center;

  @media (width >= $tablet-width) {
    justify-content: space-between;
    padding: 60px 40px;
  }

  @media (width >= $desktop-width) {
    position: absolute;
    min-width: 565px;
    min-height: 199px;
    background-color: #ffffff;
    top: 95px;
  }
}

.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__invitation {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 140px;

  @media (width >= $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    min-width: 163px;
  }
}

.contacts__address-wrapper {
  width: 140px;

  @media (width >= $tablet-width) {
    min-width: 157px;
  }
}

.contacts__address {
  line-height: 20px;
  color: #444444;
  margin: 0;

  @media (width >= $tablet-width) {
    font-size: 16px;
    text-align: right;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.contacts__map-picture-wrapper {
  background-color: #f2f2f2;
  background-image: image-set(url("../../images/map-mobile@1x.jpg") type("image/jpg") 1x, url("../../images/map-mobile@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 362px;
}

.contacts__map-picture-wrapper iframe {
  height: 100%;
  width: 100%;
}

@media (width >= $tablet-width) {
  .contacts__map-picture-wrapper {
    background-image: image-set(url("../../images/map-tablet@1x.jpg") type("image/jpg") 1x, url("../../images/map-tablet@2x.jpg") type("image/jpg") 2x);
    height: 400px;
  }
}

@media (width >= $desktop-width) {
  .contacts__map-picture-wrapper {
    background-image: image-set(url("../../images/map-desktop@1x.jpg") type("image/jpg") 1x, url("../../images/map-desktop@2x.jpg") type("image/jpg") 2x);
  }
}
