.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 1440px;
}

@media (width >= $tablet-width) {
  .container {
    padding: 0 30px;
    min-width: 768px;
  }
}

@media (width >= $desktop-width) {
  .container {
    padding: 0 110px;
    min-width: 1440px;
  }
}
