.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 1300px;
}

@media (width >= 768px) {
  .container {
    padding: 0 30px;
    min-width: 768px;
  }
}

@media (width >= 1300px) {
  .container {
    padding: 0 70px;
    min-width: 768px;
  }
}
