.contacts {
  @media (width >= $tablet-width) {
    position: relative;
  }

  @media (width >= $desktop-width) {
    display: grid;
    grid-template-columns: 110px 1fr 85px 1fr 110px;
    grid-template-rows: 95px 1fr 106px;
  }
}

.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  padding-block: 26px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 26px 20px;
  min-width: 320px;
  max-width: 1440px;

  @media (width >= $tablet-width) {
    padding: 61px 70px;
    min-width: 768px;
  }

  @media (width >= $desktop-width) {
    width: 565px;
    min-width: 565px;
    grid-area: 2 / 2 / 3 / 2;
    padding: 60px 80px 60px 77px;
    z-index: 2;
    background: #ffffff;
    margin: 0;
    justify-self: end;
    flex-wrap: wrap;
  }
}

.contacts__invitation {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  min-width: 140px;

  @media (width >= $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    min-width: 40%;
  }
}

.contacts__address {
  line-height: 20px;
  color: #444444;
  margin: 0;
  font-style: normal;

  @media (width >= $tablet-width) {
    font-size: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  @media (width >= $desktop-width) {
    text-align: left;
  }
}

.contacts__city {
  line-height: 20px;
  color: #444444;
  margin: 0;
  font-style: normal;
  margin-top: 18px;
}

.contacts__map-picture-wrapper {
  background-color: #f2f2f2;
  background-image: image-set(url("../../images/map-mobile@1x.jpg") type("image/jpg") 1x, url("../../images/map-mobile@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 362px;

  @media (width >= $tablet-width) {
    background-image: image-set(url("../../images/map-tablet@1x.jpg") type("image/jpg") 1x, url("../../images/map-tablet@2x.jpg") type("image/jpg") 2x);
    height: 400px;
  }

  @media (width >= $desktop-width) {
    background-image: image-set(url("../../images/map-desktop@1x.jpg") type("image/jpg") 1x, url("../../images/map-desktop@2x.jpg") type("image/jpg") 2x);
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: auto;
  }
}

.contacts__map-picture-wrapper iframe {
  height: 100%;
  width: 100%;
}
