.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__invitation {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
  text-align: left;
  color: #444444;
}
