.footer {
  background-color: #f2f2f2;
  padding: 41px 0 40px;

  @media (width >= $tablet-width) {
    padding-top: 58px;
  }

  @media (width >= $desktop-width) {
    padding: 69px 0 66px;
  }
}

.footer-wrapper {
  @media (width >= $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  text-align: center;
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;

  @media (width >= $tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.footer__logo-img {
  fill: #111111;

  &:hover,
  &:focus-visible {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.footer__social-list {
  list-style-type: none;
  padding: 19px 0;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;

  @media (width >= $tablet-width) {
    padding: 0;
    border-bottom: none;
    max-width: 132px;
  }
}

.footer__social-list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (width >= $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.footer__developer-link-img {
  display: block;
  fill: #444444;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (width >= $tablet-width) {
    margin-left: 23px;
  }
}
