.footer {
  width: 320px;
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.footer__logo-img {
  fill: #111111;

  &:hover,
  &:focus-visible {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.footer__social-list {
  list-style-type: none;
  padding: 19px 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  gap: 24px;
}

.social-button {
  display: block;
  width: 28px;
  height: 24px;
  background-color: #666666;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-button--vkontakte {
  mask-image: url("../../icons/stack.svg#icon-vkontakte");
}

.social-button--youtube {
  mask-image: url("../../icons/stack.svg#icon-youtube");
}

.social-button--telegram {
  mask-image: url("../../icons/stack.svg#icon-telegram");
}

.footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.footer__developer-link-img {
  display: block;
  fill: #444444;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

