.footer {
  background-color: #F2F2F2;
}

.footer__logo {

}

.footer__logo-img {

}

.footer__social-list {

}

.footer__social-list-item {

}

.footer__developer-link {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #444444;
  text-decoration: none;
}

