.header {
  padding-top: 13px;

  @media (width >= $tablet-width) {
    padding-top: 25px;
  }

  @media (width >= $desktop-width) {
    padding-top: 55px;
  }
}

.header__mobile-container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  position: relative;

  @media (width >= $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-width: 768px;
  }

  @media (width >= $desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    min-width: 1440px;
  }
}

.header__wrapper {
  position: relative;
  padding: 0 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (width >= $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

@media (width >= $desktop-width) {
  .header--catalog {
    position: static;
  }
}

.header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-bottom: 14px;

  &:hover,
  &:focus-visible {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (width >= $tablet-width) {
    padding-bottom: 0;
  }
}

.header__logo-img {
  vertical-align: bottom;
}

.header__logo-text {
  margin-left: 56px;
  vertical-align: bottom;
  margin-top: 2px;

  @media (width >= $tablet-width) {
    margin-left: 13px;
  }

  @media (width >= $desktop-width) {
    margin-left: 14px;
  }
}

.header__logo-text--catalog {
  @media (width <= 767px) {
    margin-top: 5px;
  }
}

// .header__catalog-wrapper {
//   border-bottom: 1px solid #d9d9d9;

//   @media (width >= $tablet-width) {
//     border-bottom: none;
//   }
// }
