.header {
  padding-top: 13px;

  @media (width >= $tablet-width) {
    padding-top: 25px;
  }

  @media (width >= $desktop-width) {
    padding-top: 55px;
  }
}

.header-wrapper {
  @media (width >= $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (width >= $desktop-width) {
    margin: 0 auto;
  }
}

@media (width >= $desktop-width) {
  .header--catalog {
    position: static;
  }
}
