.header {
  padding-top: 13px;
  width: 320px;
}

@media (width >= 768px) {
  .header {
    width: 768px;
    padding: 25px 30px 0;
    display: flex;
    gap: 94px;
    align-items: center;
  }
}

@media (width >= 1440px) {
  .header {
    width: 1440px;
    padding: 55px 110px 0;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
  }

  .header--catalog {
    position: static;
  }
}
