.main-advantages {
  @media (width >= $tablet-width) {
    margin-bottom: 45px;
  }
}

.main-advantages__main-wrapper {
  @media (width >= $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-advantages__wrapper {
  background: #f2f2f2;
  padding: 24px 33px 18px 20px;
  margin-bottom: 21px;

  @media (width >= $tablet-width) {
    padding: 77px 63px 57px 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (width >= $desktop-width) {
    max-width: 570px;
    margin-bottom: 0;
  }
}

.main-advantages__items {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @media (width >= $tablet-width) {
    margin-bottom: 0;
    position: relative;
  }
}

.main-advantages__image {
  display: block;
  position: relative;

  &::after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
  }
}

.main-advantages__image--weightloss {
  &::before {
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-weightloss");
    top: -3px;
    left: 7px;
  }
}

.main-advantages__image--weightgain {
  &::before {
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-weightgain");
    top: 11px;
    left: -8px;
  }
}

.main-advantages__title {
  display: block;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;
}

.main-advantages__description {
  margin: 0;
  color: #444444;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.main-advantages__catalog-wrapper {
  margin: 0;
  margin-top: 19px;
}

.main-advantages__catalog-link {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  position: relative;

  &:active {
    opacity: 30%;
  }

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#icon-arrow-long");
    background-color: #000000;
    display: inline-block;
    width: 32px;
    height: 12px;
    margin-left: 13px;
    mask-position: right 8px top 0;
    mask-repeat: no-repeat;
    transition: mask-position 0.3s;
  }

  &:hover::after,
  &:focus-visible::after,
  &:active::after {
    mask-image: url("../../icons/stack.svg#icon-arrow-long");
    width: 32px;
    height: 12px;
    mask-position: right 0 top 0;
  }
}

@media (width >= $tablet-width) {
  .main-advantages__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
  }

  .main-advantages__image {
    position: absolute;
    right: 0;
    top: 15px;

    &::after {
      width: 200px;
      height: 200px;
    }
  }

  .main-advantages__image--weightloss {
    &::before {
      width: 140px;
      height: 194px;
      background-image: url("../../icons/stack.svg#cat-weightloss-tablet");
      top: -11px;
      left: 30px;
    }
  }

  .main-advantages__image--weightgain {
    &::before {
      width: 268px;
      height: 112px;
      background-image: url("../../icons/stack.svg#cat-weightgain-tablet");
      top: 44px;
      left: -34px;
    }
  }

  .main-advantages__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #444444;
    padding: 0;
    border-bottom: none;
    padding-right: 250px;
    margin-bottom: 52px;
  }

  .main-advantages__catalog-link {
    font-size: 20px;
    line-height: 30px;

    &::after {
      margin-left: 21px;
      mask-position: right 8px top -2px;
    }
  }
}
