.main-hero {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), image-set("../images/homepage-cat-background-mobile@1x.jpg" 1x type("image/jpg"), "../images/homepage-cat-background-mobile@2x.jpg" 2x type("image/jpg"), "../images/homepage-cat-background-mobile@1x.webp" 1x type("image/webp"), "../images/homepage-cat-background-mobile@2x.jpg" 2x type("image/webp")), linear-gradient(to left, rgb(63, 62, 66) 302px, rgb(80, 80, 84) 302px);
  background-repeat: no-repeat;
  background-position: center 0;
  font-family: $secondary-font;
  color: #ffffff;
  text-align: center;


  @media (width >= $tablet-width) {
    color: #000000;
    background-image: none;
  }

  @media (width >= $desktop-width) {
    background-color: rgba(0, 0, 0, 0);

    &::before {
      content: "";
      background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85) 100%, rgba(0, 0, 0, 0) 50%), image-set("/images/homepage-cat-background-large@1x.jpg" 1x type("image/jpg"), "/images/homepage-cat-background-large@2x.jpg" 2x type("image/jpg"), "/images/homepage-cat-background-large@1x.webp" 1x type("image/webp"), "/images/homepage-cat-background-large@2x.webp" 2x type("image/webp")), linear-gradient(to right, rgb(63, 62, 67) 100%, rgba(0, 0, 0, 0) 50%);
      background-repeat: no-repeat;
      background-position: 0;
      width: 50%;
      height: 694px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      background-size: auto 100%;
    }
  }
}

.main-hero__wrapper {
  @media (width >= $tablet-width) {
    display: grid;
    grid-template-columns: 409px 300px;
    grid-template-rows: 225px 41px 609px;
    max-width: 709px;
  }

  @media (width >= $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    max-width: 1300px;
    margin-bottom: 131px;
  }
}

.main-hero__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;

  @media (width >= $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 65px 0 0 90px;
    margin-bottom: 40px;
    grid-column: 1 / -1;
  }

  @media (width >= $desktop-width) {
    padding-top: 110px;
    padding-left: 80px;
    grid-column: 1 / 1;
  }
}

.main-hero__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (width >= $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 90px;
    margin-bottom: 21px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
  }
}

.main-hero__button-features {
  margin: 0 auto 20px;

  @media (width >= $tablet-width) {
    margin: 0;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 90px;
    margin-top: 29px;
    grid-column: 1 / -1;
    grid-row: 3 / 3;
  }

  @media (width >= $desktop-width) {
    position: static;
    width: max-content;
    margin: 72px 0 0 80px;
    padding: 14px 27px 14px 28px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 80px;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
  }
}

.main-hero__picture-wrapper {
  @media (width >= $tablet-width) {
    grid-area: -1 / 1 / 3 / 1;
  }

  @media (width >= $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding-top: 29px;
    margin-left: -384px;
  }
}
