.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation__logo {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
