.main-advantages__wrapper {
  background: #F2F2F2;
}

.main-advantages__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.main-advantages__description {
  color: #444444;
}

.main-advantages__catalog-link {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
