.main-experience {
  background-color: #f2f2f2;
  padding: 25px 0 40px;

  @media (width >= $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 300px);
  }

  @media (width >= $desktop-width) {
    background-image: linear-gradient(to bottom, #ffffff 136px, #f2f2f2 136px);
    padding-bottom: 75px;
    padding-top: 0;
  }
}

.main-experience__wrapper {
  @media (width >= $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-experience__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0;
  margin-bottom: 41px;

  @media (width >= $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 146px;
  }
}

.main-experience__description {
  color: #444444;
  margin: 0;
  margin-bottom: 20px;

  @media (width >= $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (width >= $desktop-width) {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    padding-right: 178px;
    margin-bottom: 56px;
  }
}

.main-experience__clarifying-wrapper {
  @media (width >= $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 99px;
    justify-content: space-between;
  }

  @media (width >= $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.main-experience__clarifying-title-wrapper {
  display: flex;
  gap: 32px;
  margin-bottom: 19px;
  justify-content: center;

  @media (width >= $tablet-width) {
    margin-bottom: 0;
    gap: 43px;
  }

  @media (width >= $desktop-width) {
    gap: 42px;
    margin-bottom: 56px;
  }
}

.main-experience__clarifying {
  position: relative;

  @media (width >= $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 162px;
    min-height: 72px;
  }

  @media (width >= $desktop-width) {
    margin-top: 13px;
  }
}

.main-experience__clarifying-title {
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding-top: 14px;
  text-transform: uppercase;

  @media (width >= $tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
    padding-bottom: 19px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 10px;
  }
}

.main-experience__clarifying-description {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0 auto;
  background-color: #f2f2f2;
  text-align: center;
  width: min-content;
  padding-inline: 16px;
  margin-top: -9px;

  @media (width >= $tablet-width) {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    width: fit-content;
    padding: 0 10px;
    margin-top: -20px;
  }

  @media (width >= $desktop-width) {
    background-color: #f2f2f2;
    padding: 0 9px;
  }
}

.main-experience__clarifying-benefit-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;

  @media (width >= $tablet-width) {
    gap: 15px;
    flex-direction: column;
  }

  @media (width >= $desktop-width) {
    flex-direction: row;
    gap: 19px;
  }
}

.main-experience__clarifying-benefit {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (width >= $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin: 0;
    min-width: 175px;
    padding-left: 2px;
    margin-top: -6px;
  }

  @media (width >= $desktop-width) {
    margin: 0;
    text-align: center;
    padding-left: 0;
  }
}

.main-experience__clarifying-price {
  @media (width >= $tablet-width) {
    text-align: end;
  }

  @media (width >= $desktop-width) {
    text-align: center;
  }
}


.main-experience__slider-description {
  max-width: 280px;
  margin: 0 auto;
  position: relative;

  @media (width >= $tablet-width) {
    max-width: 560px;
    height: 512px;
  }

  @media (width >= $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 2 / 2;
    margin: 0;
    margin-left: 50px;
  }
}

.main-experience__slider-button {
  width: 4px;
  height: 256px;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  position: absolute;
  padding: 0;
  cursor: pointer;
  top: 0;
  left: 138px;
  z-index: 4;

  &:hover,
  &:focus-visible {
    background-color: #68b738;
  }

  &:active {
    background-color: #5eaa2f;
  }

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus-visible::before {
    border: 2px solid #68b738;
  }

  &:active::before {
    border: 2px solid #5eaa2f;
  }

  &::after {
    content: "";
    width: 24px;
    height: 18px;
    position: absolute;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#curtain");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: #68b738;
  }

  &:active::after {
    background-color: #5eaa2f;
  }

  @media (width >= $tablet-width) {
    height: 512px;
    top: 0;
    left: 278px;
  }
}
