.main-navigation__list {
  list-style: none;
}

.main-navigation__item {
  text-align: center;
}


.main-navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
