.main-experience {
  background-color: #EAEAEA;
}

.main-experience__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: lefft;
}

.main-experience__description {
  color: #444444;
}

.main-experience__clarifying-title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.main-experience__clarifying-description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.main-experience__clarifying-benefit {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
