.main-explainer {

}

.main-explainer__title {
  font-family: "Oswald";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.main-explainer__list {

}

.main-explainer__item {

}

.main-explainer__list-numbering {

}

.main-explainer__description {
  color: #444444;
}

.main-explainer__image-wrapper {

}

.main-explainer__image {

}
